src/main/resources/ru/sbt/drtmn/lab/xml/params.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by Uuser (Ccompany) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            xmlns:s="http://bus.lab.drtmn.nsk.sbt.ru/bus-mock-params"
            targetNamespace="http://bus.lab.drtmn.nsk.sbt.ru/bus-mock-params"
            jxb:version="2.1">
    <xsd:element name="param-list">
        <xsd:complexType>
            <xsd:annotation>
                <xsd:documentation>Список параметров</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
                <xsd:element name="param" type="s:param" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <jxb:property name="paramList"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="param">
        <xsd:annotation>
            <xsd:documentation>Параметр</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="name" use="required">
            <xsd:annotation>
                <xsd:documentation>Имя параметра</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" use="required">
            <xsd:annotation>
                <xsd:documentation>Значение</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="description">
            <xsd:annotation>
                <xsd:documentation>Описание</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
